* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
  justify-content: space-evenly;
  background: linear-gradient(to bottom left, white, #0d0d0d, #fff);
}
/* nav bar// */

.navbar {
  background-color: #0d0d0d;
}
.title {
  font-size: 1.7rem;
  font-weight: bold;
  color: #f5f5f5;
  text-decoration: none;
  font-family: Cinzel;
}
#offcanvasNavbarLabel {
  color: #0d0d0d;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: Cinzel;
}

.active {
  color: white !important;
  border-bottom: 2px solid white;
}
.nav-link a {
  padding-left: 50px;
  padding-right: 50px;
  color: #f5f5f5;
  font-family: "Cinzel";

  font-size: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-link a:hover {
  color: #f5f5f5;
  border-bottom: 2px solid white;
}
.bi-search {
  color: #f5f5f5;
}
.bi-search:hover {
  color: #0d0d0d;
}
/* header section// */
#about-us {
  height: 400px;
  /* background-image: url(image/header.jpg); */
  background-image: url(image/header.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  margin-bottom: 30px;
}

#about-us p {
  padding: 20px;
  line-height: 1.5rem;
  font-size: 1.1rem;
  /* color: #f5f5f5; */
  color: #0d0d0d;
}
.head-title {
  margin-left: 50%;
  margin-bottom: 80px;
  width: 500px;
  background-color: rgba(245, 245, 245, 0.4);
}

.favourite {
  color: #f5f5f5;
  background-color: #0d0d0d;
  margin-bottom: 10px;
  margin-left: 23px;
  font-family: "Cinzel";
}
.favourite:hover {
  background-color: #f5f5f5 !important;
  color: #0d0d0d !important;
}
.medium {
  width: 90%;
  background-color: rgba(245, 245, 245, 0.4);
}
.medium p {
  padding: 20px;
  margin-top: 100px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #f5f5f5;
  font-family: "Cinzel";
}

/* Top Movies Section// */
#top h3 {
  text-align: center;
  font-size: 2rem;
  color: #f5f5f5;
  margin-bottom: 20px;
  font-family: "Cinzel";
}
.card {
  width: 90%;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  padding: 0;
  background-color: #0d0d0d;
}
.card-img-top {
  width: 100%;
  height: 320px;
}
.card-body a,
.card li,
.card-title {
  color: #f5f5f5;
  font-family: "Cinzel";
  font-size: 1.2rem;

  text-shadow: 0.1px 0.1px 0.1px black;
}
/* .top-movie {
  margin-left: 150px;
  margin-right: 150px;
} */
.btn {
  border: 1px solid #f5f5f5;
  font-family: "Cinzel";
  font-size: 1rem !important;
  background-color: #0d0d0d;
}
.btn:hover {
  background-color: #f5f5f5;
  border: 1px solid #0d0d0d;
}

/* movies// */
#movie h3 {
  font-family: "Cinzel";
  font-size: 1.5rem;
  color: #f5f5f5;
  margin-top: 30px;
  margin-bottom: 20px;
}
#movie img {
  width: 100%;
}
#movie li {
  color: #f5f5f5;
  font-size: 1rem;
  line-height: 2.5rem;
}
/* ticket page// */
/* seat// */

#seat h3 {
  font-family: "Cinzel";
  font-size: 2rem;
  color: #f5f5f5;
}
.recommend,
.rate {
  width: 60%;
}
.carousel img {
  width: 100%;
}
.book label {
  font-size: 1rem;
  color: #f5f5f5;
  font-family: "Cinzel";
  margin-bottom: 10px;
}

#seat .form-control {
  width: 90%;
  border: none;
  outline: none;
  color: #f5f5f5;
  background-color: rgba(245, 245, 245, 0.3);
  border-bottom: 1px solid #0d0d0d;
  border-radius: none;
  text-align: left;
  /* margin-left: auto;
  margin-right: auto; */
}
.form-label {
  margin-left: auto;
  color: #f5f5f5;
}
.form-btn {
  color: #f5f5f5;
}
.form-btn:hover {
  color: #0d0d0d;
}

/* contact page// */
/* head// */
#contact-head {
  background-image: url(image/contact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}
#contact-head h3,
#contact-main h3 {
  padding: 50px;
  margin-left: 10px;
  font-family: "Cinzel";
  font-weight: bold;
  font-size: 2.5rem;
  color: #f5f5f5;
}
.contact-icon i {
  color: #f5f5f5;
  margin-left: 40px;
  margin-top: -50px;
}
/* main// */
#contact-main p {
  padding: 10px;
  margin-top: -30px;
  font-size: 1.3rem;
  color: #f5f5f5;
}
#contact-main ul {
  margin-top: -30px;
}
#contact-main li {
  line-height: 3rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  color: #f5f5f5;
}
.second {
  background-color: #f5f5f5;
}
.feedback h5,
.complain h5 {
  font-family: "Cinzel";
  font-weight: bold;
  font-size: 1.5rem;
  color: #0d0d0d;
  margin-top: 50px;
  margin-left: 8px;
}
.feedback i,
.feedback p {
  color: #0d0d0d;
  font-size: 2rem;
}
.complain button {
  border: 1px solid #f5f5f5;
  background-color: #0d0d0d;
  color: #f5f5f5;
  border-radius: 5px;
  padding: 5px;
}
#contact-main .form-control {
  width: 90%;
  border: none;
  border-radius: none !important;
  outline: none !important;
  background-color: rgba(13, 13, 13, 0.2);
  border-bottom: 1px solid #0d0d0d;
}

.complain button:hover {
  color: #0d0d0d;
  background-color: #f5f5f5;
  border: 1px solid #0d0d0d;
}
/* service section// */

.cover {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: rgba(245, 245, 245, 0.2);
}
.suggest {
  font-size: 1.5rem;
  color: #f5f5f5;
  font-family: "Cinzel";
  text-align: center;
  /* padding: 10px; */
}
/* footer// */
footer {
  background-color: #0d0d0d;
  /* margin-top: 50px; */
  padding: 30px;
}
footer h5,
footer a {
  color: #f5f5f5;
}
footer h5 {
  font-family: "Cinzel";
}
